@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.search {
  background-color: $background-color;
  @include center-page;
  @include center-page-information;

  &__categories-row {
    display: flex;
  }

  &__category {
    margin-top: 20px;
    display: flex;
    margin-right: 10px;

    .category-separator {
      margin-right: 10px;
    }

  }

}
