@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-page {
  height: 90vh;
}

@mixin center-page-information {
  width: 100%;
  padding-left: 15vw;
  padding-right: 15vw;
}
